body{
  background-color: #222222;
  color: #aaaaaa;
  /* font-size: 0; */
}
p{
  /* font-size: initial; */
}
div{
  display: inline-block;

  width: 33.33%;
  padding: 10px;
  border: 10px solid teal;

  box-sizing: border-box;

  /* font-size: initial; */

}
